body {
    font-family: Open Sans;
    text-align: center;
}

#title{
    font-family: Rock Salt;
}

.footer{
    font-family: Rock Salt;
    font-size: 16px;
    padding: 20px;
}

.footer a {
    color: black;

}

p {
    font-family: "Open Sans";
}

#footer-details{
    font-size: 10px;
}


.form-outer {
    background-color: #59ace0;
    width: 75%;
    margin: 0 auto;
}
